/* 浮空文字 */
.floating-text {
  position: fixed;
  text-align: center;
  font-size: 12px;
  color: #faf5f5;
  border-radius: 8px;
  overflow: hidden;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffffc6;
  background-color: #0f0f0fa4;
  padding: 8px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
  transform: scale(1);
  font-family: 'Your Desired Font', sans-serif;
  animation: float 5s ease-in-out infinite;
  z-index: 999;
}

/* 鼠标悬停时的放大效果 */
.floating-text {
  transition: zoom 0.3s ease;
}

.floating-text:hover {
  zoom: 1.1;
}


/* 文字上下浮动动画 */
@keyframes float {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}

/* 文字碎片化消失动画 */
@keyframes shatter {
  0% {
      opacity: 1;
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(0);
  }
}

/* 在小屏幕上隐藏 */
@media (max-width: 768px) {
  .floating-text {
      display: none;
  }
}
