@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,300&display=swap');

@font-face {
    font-family: 'JetBrains Mono';
    src: url(../fonts/JetBrainsMono-Regular.ttf);
}

:root {
    /* Colors */
    --black: #02010a;
    --gray: #1f1e28;
    --white: #e8e9f3;
    --coral: #ff8552;
    --flame: #eb5e28;
    --bluegreen: #297373;
}

html {
    margin: 0;
    padding: 0;

    overflow-x: hidden;

    background-color: #1f1e28;

    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
}