/*中文字体*/
@font-face {
    font-family: "a";
    /*中文字体*/
    src: url(../assets/fonts/STHeitiLight.ttc);
    font-display: swap;
	font-family: 'MyLocalFont';
	src: url('') format('truetype');
  }
@font-face {
    font-family: "b";

    src: url();
    font-display: swap;
}

@font-face {
    font-family: "title";
    /*英文字体*/
    src: url();
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    transition: background-color 0.2s ease;
}

a:hover,
a:link,
a:visited,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
    border: none;
    color: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* 设置滚动条样式 */
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main_text_color, #000000);
    border-radius: 8px;
    height: 20%;
}

::-webkit-scrollbar-track {
    background-color: var(--main_bg_color, linear-gradient(50deg, #a2d0ff, #ffffff));
}

:root {
    --main_bg_color: url(.././assets/3.png);
    --main_text_color: #eeeeee;
    --gradient: linear-gradient(120deg, #bd34fe, #e0321b 30%, #41d1ff 60%);
    --purple_text_color: #747bff;
    --text_bg_color: #00000040;
    --item_bg_color: #00000038;
    --item_hover_color: #33333338;
    --item_left_title_color: #ffffff;
    --item_left_text_color: #ffffff;
    --footer_text_color: #ffffff;
    --left_tag_item: rgb(27 42 57 / 20%);
    --card_filter: 0px;
    --back_filter: 22px;
    --back_filter_color: #00000030;
    --fill:#ffffff;
}

body {
    display: flex;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    position: relative;
    font-family: "b", "a", sans-serif;
    background: var(--main_bg_color);
    background-repeat: no-repeat;
    background-color: #0d0e11e7;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: background 0.6s ease; /* 添加背景过渡效果 */
    justify-content: center;
    color: var(--main_text_color);
    font-family: 'MyLocalFont', Microsoft YaHei, sans-serif;
}


@keyframes zoom {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.noise-filter {
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(var(--back_filter));
     -webkit-backdrop-filter: blur(var(--back-filter));
    z-index: -99999999;
    background: var(--back_filter_color);
}

.noise-main {
    width: 100%;
    transition: transform 0.5s ease;
    max-width: 1150px;
    position: relative;
    flex-direction: row;
}

.noise-left {
    overflow-y: scroll;
    width: 230px;
    height: 100vh;
    display: flex;
    padding: 0 15px;
    position: fixed;
    align-items: center;
    flex-direction: column;
}


.noise-left::-webkit-scrollbar {
    display: none;
}

/* 设置PC头像LOGO */
.logo {
    flex-shrink: 0;
    width: 90%;
    position: relative;
    aspect-ratio: 1/1;
    margin-top: 50px;
    background-size: cover;
    border-radius: 50%;
    object-fit: cover; /* 裁剪图片以适应圆形遮罩 */
    transition: transform 0.5s ease-in-out; /* 添加过渡效果 */
}

@keyframes zoom {
    0% { transform: scale(1); }
    100% { transform: scale(1.02); } /* 假设放大到110% */
}

.logo:hover {
    animation: zoom 0.5s ease-in-out forwards;
}

.logo:not(:hover) {
    animation: zoom 0.5s ease-in-out reverse;
}

.tooltip {
    position: absolute;
    font-size: 13px; /* 设置字体大小 */
    width: 100%;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: rgba(39, 37, 37, 0.181);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap; /* 防止文本换行 */
    pointer-events: none; /* 防止点击tooltip触发其他事件 */
}

.logo:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
/* 设置PC头像LOGO结束 */
/* 设置手机页面头部LOGO */
.mobile-logo {
    display: none;
    width: 40%; /* 图像宽度为父元素的40% */
    height: 0; /* 高度为0，通过padding-bottom保持宽高比 */
    padding-bottom: 40%; /* 保持宽高比为1:1 */
    background-size: cover; /* 背景图像覆盖整个元素 */
    background-position: center; /* 背景图像居中 */
    border-radius: 50%; /* 圆形遮罩 */
    background-repeat: no-repeat; /* 不重复背景图像 */
    object-fit: cover; /* 裁剪图片以适应圆形遮罩 */
    transition: transform 0.5s ease-in-out; /* 添加过渡效果 */
}

@keyframes mobile-zoom {
    0% { transform: scale(1); }
    100% { transform: scale(1.02); } /* 假设放大到110% */
}

.mobile-logo:hover {
    animation: mobile-zoom 0.5s ease-in-out forwards;
}

.mobile-logo:not(:hover) {
    animation: mobile-zoom 0.5s ease-in-out reverse;
}

.mobile-tooltip {
    position: absolute;
    font-size: 13px; /* 设置字体大小 */
    width: 100%;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: rgba(39, 37, 37, 0.181);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap; /* 防止文本换行 */
    pointer-events: none; /* 防止点击tooltip触发其他事件 */
}

.mobile-logo:hover .mobile-tooltip {
    visibility: visible;
    opacity: 1;
}
/* 设置手机页面头部LOGO结束 */

.left-div {
    flex-shrink: 0;
    width: 100%;
    border-radius: 13px;
    margin-top: 13px;
    padding: 10px;
    backdrop-filter: blur(var(--card_filter));
    background: var(--item_bg_color);
}
.left-div-music {
    flex-shrink: 10;
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
    padding: 4px;
    backdrop-filter: blur(var(--card_filter));
    background: var(--item_bg_color);
}
.left-des {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-des-item {
    display: flex;
    align-items: center;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 8px;
    overflow: hidden;
    
}

.left-des-item i,.left-des-item svg{
    width: 16px;
    height: 17px;
    fill:var(--fill);
    font-size: 16px;
    margin-right: 18px;
    justify-content: center; /* 水平居中 */
}
.left-tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 13px;
}

.left-tag-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    margin: 0px 5px 5px 0;
    padding: 8px;
    font-size: 13px;
    border-radius: 10px;
    background: var(--left_tag_item);
}
/*云盘资源*/
#line {
    width: 100%;
    height: 250px;
    font-size: 13px;
    padding-left: 0px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    
}
/*时间*/
#line1 {
    display: flex; /* 设置为弹性容器 */
    flex-direction: column; /* 子元素垂直排列 */
    width: 100%;
    height: auto;
    font-size: 13px;
    padding-left: 0px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
/*摸鱼日历*/
#line2 {
    width: 100%;
    height: auto;
    font-size: 13px;
    padding-left: 0px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    display: flex; /* 设置为弹性容器 */
    flex-direction: column; /* 子元素垂直排列 */
    align-items: center; /* 水平居中 */
}

#line2 img {
    max-width: 100%; /* 图片最大宽度为容器的宽度 */
    height: auto; /* 图片高度根据宽度自动调整 */
}
/*rss订阅文字*/
#line3 {
    display: flex; /* 设置为弹性容器 */
    flex-direction: column; /* 子元素垂直排列 */
    width: 100%;
    height: auto;
    font-size: 13px;
    padding-left: 0px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
/*b站收藏*/
#line4 {
    display: flex; /* 设置为弹性容器 */
    flex-direction: column; /* 子元素垂直排列 */
    width: 100%;
    height: auto;
    font-size: 13px;
    padding-left: 0px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
/*视频列表*/
#line5 {
    width: 100%;
    height: auto;
    font-size: 13px;
    padding-left: 0px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    display: flex; /* 设置为弹性容器 */
    flex-direction: column; /* 子元素垂直排列 */
    align-items: center; /* 水平居中 */
}
/*60秒*/
#line6 {
    width: 100%;
    height: 250px;
    font-size: 13px;
    padding-left: 0px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
/*随机一言*/
#line7 {
    display: flex; /* 设置为弹性容器 */
    flex-direction: column; /* 子元素垂直排列 */
    width: 100%;
    height: auto;
    font-size: 13px;
    padding-left: 0px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
#line li {
    list-style: none;
    position: relative;
    padding: 15px 0px 0px 15px;
    border-left: 2px solid #d5d5d5;
    border-radius: 0;
    scroll-snap-align: end;
    color: var(--main_text_color);
}


#line li:first-child .focus:first-child {
    background-color: #aaffcd;
    animation: focus 1.8s ease infinite;
}

#line::-webkit-scrollbar {
    display: none;
}

.noise-right {
    width: calc(100% - 230px);
    display: flex;
    padding: 24px;
    position: relative;
    float: right;
    padding-bottom: 50px;
    flex-direction: column;
}

.welcome {

    font-size: 55px;
    font-weight: 800;
    margin: 20px 0;
}


.description {

    font-size: 20px;
    margin-top: 7px;
}

.gradientText {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    background-position: 0%;
    font-family: "title";
    animation: backgroundSizeAnimation 10s ease-in-out infinite;
      background-image:  var(--gradient);
}

@keyframes backgroundSizeAnimation {
    0% {
        background-position: 100%;
    }

    25% {
        background-position: 50%;
    }

    50% {
        background-position: 0%;
    }

    75% {
        background-position: 50%;
    }

    100% {
        background-position: 100%;
    }

}

.purpleText {
    color: var(--purple_text_color);
    font-weight: 800;
}

.textBackground {
    font-weight: 800;
    background: var(--text_bg_color);
    border-radius: 5px;
    font-size: 17px;
    padding: 2px 4px;
}

.iconContainer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    margin-top: 20px;
}

.iconContainer::-webkit-scrollbar {
    display: none;
}

.iconItem {
    width: 49px;
    height: 43px;
    box-sizing: border-box;
    border-radius: 7px;
    display: flex;
    margin-left: 10px;
    backdrop-filter: blur(var(--card_filter));
    background: var(--item_bg_color);
    align-items: center;
    justify-content: center;
    transition: width 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    flex-shrink: 0;
}
.iconItem i,.iconItem svg{
    width: 22px;
    height: 22px;
    fill:var(--fill);
    font-size: 22px;
     margin-right: 3px;
}
.switchbg {
    width: 49px;
    height: 43px;
    box-sizing: border-box;
    border-radius: 7px;
    display: flex;
    margin-left: 10px;
    backdrop-filter: blur(var(--card_filter));-webkit-backdrop-filter: blur(var(--card_filter));
    background: var(--item_bg_color);
    align-items: center;
    justify-content: center;
    transition: width 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    flex-shrink: 0;
    position: relative;
}

.switchbg:hover {
    width: 95px; 
    transform: translateY(-2px);
    background: var(--item_hover_color);
}

.switchbg:hover .switchbgtip {
    display: block;
    transform: translateX(5px); /* 将文本移离图标更远的地方 */
}

.switchbgtip {
    white-space: nowrap;
    display: none;
}

.mobileswitchbg {
    width: 49px;
    height: 43px;
    box-sizing: border-box;
    padding: 2px;
    justify-content: center; /* 水平居中 */
    padding: 10px; /* 这将影响所有四边的间距 */
    text-align: center; /* 文本水平居中 */
    line-height: 1.5;
    height:auto;
    height: auto;
    font-size: 13px;
    line-height: 2; 
    border-radius: 7px;
    display: flex;
    margin-left: 10px;
    backdrop-filter: blur(var(--card_filter));-webkit-backdrop-filter: blur(var(--card_filter));
    background: var(--item_bg_color);
    align-items: center;
    justify-content: center;
    transition: width 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    flex-shrink: 0;
    position: relative;
}

.mobileswitchbg:hover {
    width: 49px;
    /* transform: translateY(-2px); */
    background: var(--item_hover_color);
}



.switchbgtip {
    white-space: nowrap;
    display: none;
}

.iconTip {
    white-space: nowrap;
    display: none;
}
.iconItem:hover {
    width: 95px;
    transform: translateY(-2px);
    background: var(--item_hover_color);
}


.iconItem:hover .iconTip {
    display: block;
}


.title {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 800;
    margin: 20px 0;
    transition: transform 0.4s ease;
}
.title i ,.title svg{
    margin-right: 8px;
    height: 26px;
    width: 26px;
   fill:var(--fill);
}
.title:hover {
    transform: translateY(-5px);
}

.projectList {
    display: flex;
    flex-wrap: wrap;
}

.projectItem {
    margin: 7px;
    display: flex;
    background-color: var(--item_bg_color);
    border-radius: 8px;
    padding: 15px;
    height: 95px;
    width: calc(25% - 15px);
    backdrop-filter: blur(var(--card_filter));
    transition: opacity 0.3s ease, background-color 0.3s ease, border 0.3s ease, transform 0.2s ease;

}

.projectItem {
    display: flex;
    background-color: var(--item_bg_color);
    border-radius: 8px;
    padding: 15px;
    height: 100px;
    width: calc(25% - 15px);
    backdrop-filter: blur(var(--card_filter));
    transition: opacity 0.5s ease, background-color 0.2s ease, border 0.2s ease, transform 0.3s ease;
}

.projectItem:hover {
    box-shadow: 0 8px 16px -4px #2c2d300c;
    transform: translateY(-2px);

}

.projectItem.pressed {
    transform: scale(0.9);
    /* 缩小到原来的0.9倍 */
    background-color: var(--item_hover_color);
}

.projectItem:hover .projectItemLeft {
    width: 100%;
}

.projectItem:hover .projectItemRight {
    width: 0%;
}

.projectItem:hover .projectItemRight img {
    transform: rotate(40deg);
}

.projectItem:hover h1 {
    font-size: 18px;
}

.projectItemLeft p {
    font-size: 12px;
    margin-top: 15px;
    color: var(--item_left_text_color);
}


.projectItemLeft h1 {
    font-weight: normal;
    font-size: 16px;
    margin: 0px;

    transition: font-size 0.4s ease;
    color: var(--item_left_title_color);
}

.projectItemLeft {
    transition: width 0.4s ease;
    height: 100%;
    width: 80%;
}


.projectItemRight {
    overflow: hidden;
    transition: width 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.projectItemRight img {
    height: 39px;
    width: 39px;

}

footer {
    position: absolute;
    padding: 10px;
    text-align: center;
    width: 94%;
    backdrop-filter: blur(var(--card_filter));
    background: var(--item_bg_color);
    color: var(--footer_text_color);
    font-size: 13px;
    bottom: 0;
}


@media (max-width: 1150px) {
    .a {
        width: calc(50% - 20px);
    }

.projectItem{
    margin: 10px;
}
    .b {

        width: calc(50% - 20px);


    }
}

/* 手机尺寸 */
@media (max-width: 800px) {
    body {
        /* 设置背景图片 */
        background-image: var(--background-image);
        /* 背景图片覆盖整个元素，保持宽高比 */
        /* background-size: 100% 100%; */
        background-size: cover; /* 或者使用 contain */
        /* 背景图片不会随着页面滚动 */
        position: relative; /* 确保可以相对于body定位伪元素 */
    }

    body::before {
        content: ""; /* 必须设置content属性 */
        position: absolute; /* 相对于body定位 */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: var(--background-image);
        background-size: cover;
        background-attachment: fixed;
        filter: blur(20px); /* 添加模糊效果 */
        z-index: -1; /* 确保伪元素在内容之下 */
    }
}

/* 默认隐藏.mobileswitchbg */
.mobileswitchbg {
    display: none;
}

/* 当屏幕尺寸小于或等于600px时显示.mobileswitchbg */
@media only screen and (max-width: 600px) {
    .mobileswitchbg {
        display: inline-block; /* 或者使用其他适当的显示类型 */
    }
}


@media (max-width: 800px) {
    .mobile-logo {
        display: block;
        margin: 0 auto;
    }
    .noise-left {
        display: none;
    }
    .switchbg {
        display: none;
    }
    .a .projectItemRight {
        display: none;

    }

    .a .projectItemRight img {
        display: none;

    }

    .a .projectItemLeft {
        width: 100%;
    }

    .a {

        width: calc(50% - 18px);
  margin: 9px;

    }

    .b {
        height: 110px;
        margin: 8px 15px;
        width: calc(100% - 30px);
    }

    .noise-right {
        width: 100%;
    }


    .description {
        font-size: 4vw;
    }

    .welcome {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    font-size: 10vw;
    }

    .gradientText {
    display: inline; /* 确保span元素在同一行内显示 */
    /* 添加其他必要的样式 */
    }


    .iconContainer {
  
     margin-top: 4vw;

    }
    .projectItem{
    padding: 10px;
    }

    .projectItemLeft p {
        font-size: 13px;
    }

    .projectItemLeft h1 {

        font-size: 18px;
    }

    .projectItem:hover h1 {

        font-size: 20px;

    }

}

/*鼠标小黑猫光标*/
button {cursor:url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/work.cur),alias}
p {cursor:url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/texto.cur),auto}
a {cursor:url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/ayuda.cur),auto}
a:active {cursor:url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/work.cur),alias}
body {cursor:url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/normal.cur),auto}

hr.dashed {
    border: none;
    border-top: 1px dashed #ccc;
    margin: 10px 0;
  }

  #clock {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    color: #faf6f6; /* 时钟文字颜色 */
    text-align: center; /* 文本水平居中 */
    padding-top: 1x;   /* 顶部间距 */
    padding-bottom: 1px; /* 底部间距 */
    line-height: 2; 
}

#lbl {
    font-family: brushscriptmt;
    color: #fdf7f7;
    padding: 0px; /* 这将影响所有四边的间距 */
    text-align: center; /* 文本水平居中 */
    line-height: 1.5;
    height: auto;
    font-size: 13px;
    line-height: 2; 
}


#date{
    font-size: 13px;
    text-align: center; /* 文本水平居中 */
}
.projectItemRightimg { 
    transition: width 0.4s ease;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    background: rgba(20, 20, 20, 0.396);
    height: 120px; /* 设置一个合适的高度，或者根据需要自动调整 */
    max-width: 99%;
    overflow: hidden; /* 隐藏超出容器的内容 */
  }
  #img-1 {
    max-width: 100%;
    max-height: 100%;
    margin-right: 6px; /* 添加右侧间隔 */
  }

/* 添加遮罩层 */
.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.079); /* 半透明背景 */
    z-index: 998; /* 确保遮罩层在侧边栏之上 */
    display: none; /* 默认不显示 */
  }
  
  /* 当侧边栏显示时显示遮罩层 */
  .noise-left.show + .mask {
    display: block;
  }
  
/* 在手机尺寸下显示的按钮样式 */
@media screen and (max-width: 800px) {
    .mobile-nav-button {
      display: block;
      position: absolute;
      top: 18px;
      left: 10px;
      z-index: 999;
      width: 53px;
      height: 50px;
      background-color: #2327307b; /* 方块按钮的背景颜色 */
      color: #fff;
      text-align: center;
      line-height: 53px; /* 垂直居中 */
      border-radius: 12px;
      cursor: pointer;
      transition: all 0.02s ease-in-out; /* 过渡效果 */
    }
  
    /* 侧边栏的弹出样式 */
    .noise-left {
      display: none;
      position: fixed;
      top: 2;
      width: 50%;
      height: 100%;
      background-color: #0d0e11ed; /* 弹出层的背景颜色 */
      z-index: 99900; /* 确保弹出层在按钮下面 */
      transition: left 0.1s ease-in-out;
    }
  
    /* 显示侧边栏 */
    .noise-left.show {
      left: 0;
    }
  }

  /* 侧边栏不显示的元素 */
@media screen and (max-width: 800px) {
    .logo {
    display: none;
    }
  
  }
  /* 在非手机尺寸下隐藏按钮 */
  @media screen and (min-width: 800px) {
    .mobile-nav-button {
      display: none;
    }
  }
  
 /* 视频组件效果 */
/* 引入的随机视频组件按钮 */
/* 控制按钮样式 */
#control-buttons {
    text-align: center;
    margin-top: -2px; /* 根据需要调整间距 */
    background-color: rgba(241, 243, 244, 0.5); /* 透明背景色 */
    padding: 5px; /* 添加内边距 */
    border-radius: 5px; /* 添加圆角边框 */
  }
  
  #control-buttons button {
    margin: 0 5px; /* 根据需要调整按钮间距 */
    background-color: transparent; /* 按钮背景透明 */
    border: none; /* 移除边框 */
    color: #000; /* 按钮文字颜色，可根据需要调整 */
    cursor: pointer; /* 鼠标悬停时显示指针 */
  }
  
  #control-buttons button:hover {
    color: #666; /* 鼠标悬停时按钮文字颜色，可根据需要调整 */
  }
  
  /* 基本样式 */
  #video-container {
    width: 100%;
    max-width: 172px; /* 最大宽度，可根据需要调整 */
  }
  
  /* 手机屏幕尺寸下的样式 */
  @media only screen and (max-width: 600px) {
    #video-container, #random-video {
      width: 100%;
      max-width: 100%; /* 在小屏幕上，视频容器和视频元素宽度为100% */
    }
  }
 /* 向下滑动提示 */
 .scroll-down {
	display: none;
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 500;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	opacity: 0.7;
}

.scroll-down span {
	display: block;
	margin-bottom: 5px;
}

.scroll-down svg {
	width: 24px;
	height: 24px;
	fill: #fff;
}

@media (max-width: 768px) {
	.scroll-down {
		display: block;
	}
} 
  
  