@font-face {
    font-family: "a";
    /*中文字体*/
    src: url(../assets/fonts/STHeitiLight.ttc);
    font-display: swap;
}


@font-face {
    font-family: "b";

    src: url();
    font-display: swap;
}

@font-face {
    font-family: "title";
    /*英文字体*/
    src: url(../assets/fonts/Pacifico-Regular.ttf);
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    transition: background-color 0.2s ease;
}

a:hover,
a:link,
a:visited,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
    border: none;
    color: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* 设置滚动条样式 */
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main_text_color, #000000);
    border-radius: 8px;
    height: 20%;
}

::-webkit-scrollbar-track {
    background-color: var(--main_bg_color, linear-gradient(50deg, #a2d0ff, #ffffff));
}

html[data-theme="Dark"] {
    --main_bg_color: rgb(0, 0, 0);
    --main_text_color: #fff;
    --gradient:linear-gradient(120deg, rgb(133, 62, 255), #f76cc6 30%, rgb(255, 255, 255) 60%);
    --purple_text_color: #747bff;
    --text_bg_color: rgb(26, 4, 48);
    --item_bg_color: rgb(19, 20, 24);
    --item_hover_color: rgb(19, 23, 27);
    --item_left_title_color: rgb(255, 255, 255);
    --item_left_text_color: rgb(142, 142, 142);
    --footer_text_color: #646464;
    --left_tag_item: linear-gradient(50deg, #1f2327, #000000);
    --card_filter: 0px;
    --back_filter: 0px;
    --back_filter_color: #00000000;
    --fill:#ffffff;
}
body {
    display: flex;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    position: relative;
    font-family: "b",  "a", sans-serif;
    background: var(--main_bg_color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: color 0.1s ease;
    justify-content: center;
    color: var(--main_text_color);

}

@keyframes zoom {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.noise-filter {
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(var(--back_filter));
     -webkit-backdrop-filter: blur(var(--back-filter));
    z-index: -99999999;
    background: var(--back_filter_color);
}

.noise-main {
    width: 100%;
    transition: transform 0.5s ease;
    max-width: 1150px;
    position: relative;
    flex-direction: row;
}

.noise-left {
    overflow-y: scroll;
    width: 230px;
    height: 100vh;
    display: flex;
    padding: 0 15px;
    position: fixed;
    align-items: center;
    flex-direction: column;
}


.noise-left::-webkit-scrollbar {
    display: none;
}


.logo {
    flex-shrink: 0;
    width: 90%;
    position: relative;
    aspect-ratio: 1/1;
    margin-top: 50px;
    background-size: cover;
    border-radius: 50%;
    object-fit: cover; /* 裁剪图片以适应圆形遮罩 */
    transition: transform 0.5s; /* 添加旋转动画 */
}

.logo:hover {
    transform: rotate(360deg); /* 鼠标悬停时旋转360度 */
  }

.left-div {
    flex-shrink: 0;
    width: 100%;
    border-radius: 13px;
    margin-top: 13px;
    padding: 10px;
    backdrop-filter: blur(var(--card_filter));
    background: var(--item_bg_color);
}
.left-div-music {
    flex-shrink: 10;
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
    padding: 4px;
    backdrop-filter: blur(var(--card_filter));
    background: var(--item_bg_color);
}
.left-des {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-des-item {
    display: flex;
    align-items: center;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 8px;
    overflow: hidden;
    
}

.left-des-item i,.left-des-item svg{
    width: 16px;
    height: 19px;
    fill:var(--fill);
    font-size: 16px;
    margin-right: 18px;
    justify-content: center; /* 水平居中 */
}
.left-tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 13px;
}

.left-tag-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    margin: 0px 5px 5px 0;
    padding: 8px;
    font-size: 13px;
    border-radius: 10px;
    background: var(--left_tag_item);
}

#line {
    width: 100%;
    height: 250px;
    font-size: 13px;
    padding-left: 8px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
#line1 {
    display: flex; /* 设置为弹性容器 */
    flex-direction: column; /* 子元素垂直排列 */
    width: 100%;
    height: auto;
    font-size: 13px;
    padding-left: 8px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
 
}

#line li {
    list-style: none;
    position: relative;
    padding: 15px 0px 0px 15px;
    border-left: 2px solid #d5d5d5;
    border-radius: 0;
    scroll-snap-align: end;
    color: var(--main_text_color);
}
#line2 {
    width: 100%;
    height: auto;
    font-size: 13px;
    padding-left: 8px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    display: flex; /* 设置为弹性容器 */
    flex-direction: column; /* 子元素垂直排列 */
    align-items: center; /* 水平居中 */
}

#line2 img {
    max-width: 100%; /* 图片最大宽度为容器的宽度 */
    height: auto; /* 图片高度根据宽度自动调整 */
}

.focus {
    width: 8px;
    height: 8px;
    border-radius: 22px;
    background-color: rgb(255 255 255);
    border: 2px solid #fff;
    position: absolute;
    left: -5px;
    top: 50%;
}

#line li:first-child .focus:first-child {
    background-color: #aaffcd;
    animation: focus 1.8s ease infinite;
}

#line::-webkit-scrollbar {
    display: none;
}

.noise-right {
    width: calc(100% - 230px);
    display: flex;
    padding: 24px;
    position: relative;
    float: right;
    padding-bottom: 50px;
    flex-direction: column;
}

.welcome {

    font-size: 55px;
    font-weight: 800;
    margin: 20px 0;
}


.description {

    font-size: 20px;
    margin-top: 7px;
}

.gradientText {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    background-position: 0%;
    font-family: "title";
    animation: backgroundSizeAnimation 10s ease-in-out infinite;
      background-image:  var(--gradient);
}

@keyframes backgroundSizeAnimation {
    0% {
        background-position: 100%;
    }

    25% {
        background-position: 50%;
    }

    50% {
        background-position: 0%;
    }

    75% {
        background-position: 50%;
    }

    100% {
        background-position: 100%;
    }

}

.purpleText {
    color: var(--purple_text_color);
    font-weight: 800;
}

.textBackground {
    font-weight: 800;
    background: var(--text_bg_color);
    border-radius: 5px;
    font-size: 17px;
    padding: 2px 4px;
}

.iconContainer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    margin-top: 20px;
}

.iconContainer::-webkit-scrollbar {
    display: none;
}

.iconItem {
    width: 49px;
    height: 43px;
    box-sizing: border-box;
    border-radius: 7px;
    display: flex;
    margin-left: 10px;
    backdrop-filter: blur(var(--card_filter));
    background: var(--item_bg_color);
    align-items: center;
    justify-content: center;
    transition: width 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    flex-shrink: 0;
}
.iconItem i,.iconItem svg{
    width: 22px;
    height: 22px;
    fill:var(--fill);
    font-size: 22px;
     margin-right: 3px;
}
.switch {
    width: 55px;
    height: 43px;
    box-sizing: border-box;
    border-radius: 7px;
    display: flex;
    margin-left: 10px;
    backdrop-filter: blur(var(--card_filter));-webkit-backdrop-filter: blur(var(--card_filter));
    background: var(--item_bg_color);
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.iconTip {
    white-space: nowrap;
    display: none;
}

.iconItem:hover {
    width: 95px;
    transform: translateY(-2px);
    background: var(--item_hover_color);
}


.iconItem:hover .iconTip {
    display: block;
}

.switch:hover {
    width: 55px;
    /* transform: translateY(-2px); */
    background: var(--item_hover_color);
}

.title {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 800;
    margin: 20px 0;
    transition: transform 0.4s ease;
}
.title i ,.title svg{
    margin-right: 8px;
    height: 26px;
    width: 26px;
   fill:var(--fill);
}
.title:hover {
    transform: translateY(-5px);
}

.projectList {
    display: flex;
    flex-wrap: wrap;
}

.projectItem {
    margin: 7px;
    display: flex;
    background-color: var(--item_bg_color);
    border-radius: 8px;
    padding: 15px;
    height: 95px;
    width: calc(25% - 15px);
    backdrop-filter: blur(var(--card_filter));
    transition: opacity 0.3s ease, background-color 0.3s ease, border 0.3s ease, transform 0.2s ease;

}

.projectItem {
    display: flex;
    background-color: var(--item_bg_color);
    border-radius: 8px;
    padding: 15px;
    height: 100px;
    width: calc(25% - 15px);
    backdrop-filter: blur(var(--card_filter));
    transition: opacity 0.5s ease, background-color 0.2s ease, border 0.2s ease, transform 0.3s ease;
}

.projectItem:hover {
    box-shadow: 0 8px 16px -4px #2c2d300c;
    transform: translateY(-2px);

}

.projectItem.pressed {
    transform: scale(0.9);
    /* 缩小到原来的0.9倍 */
    background-color: var(--item_hover_color);
}

.projectItem:hover .projectItemLeft {
    width: 100%;
}

.projectItem:hover .projectItemRight {
    width: 0%;
}

.projectItem:hover .projectItemRight img {
    transform: rotate(40deg);
}

.projectItem:hover h1 {
    font-size: 18px;
}

.projectItemLeft p {
    font-size: 12px;
    margin-top: 15px;
    color: var(--item_left_text_color);
}


.projectItemLeft h1 {
    font-weight: normal;
    font-size: 16px;
    margin: 0px;

    transition: font-size 0.4s ease;
    color: var(--item_left_title_color);
}

.projectItemLeft {
    transition: width 0.4s ease;
    height: 100%;
    width: 80%;
}


.projectItemRight {
    overflow: hidden;
    transition: width 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.projectItemRight img {
    height: 39px;
    width: 39px;

}


footer {
    position: absolute;
    padding: 10px;
    text-align: center;
    width: 94%;
    backdrop-filter: blur(var(--card_filter));
    background: var(--item_bg_color);
    color: var(--footer_text_color);
    font-size: 13px;
    bottom: 0;
}


@media (max-width: 1150px) {
    .a {
        width: calc(50% - 20px);
    }

.projectItem{
    margin: 10px;
}
    .b {

        width: calc(50% - 20px);


    }
}
.index-logo {
    display: none;
    width: 40%; /* 图像宽度为父元素的40% */
    height: 0; /* 高度为0，通过padding-bottom保持宽高比 */
    padding-bottom: 40%; /* 保持宽高比为1:1 */
    background-size: cover; /* 背景图像覆盖整个元素 */
    background-position: center; /* 背景图像居中 */
    border-radius: 50%; /* 圆形遮罩 */
    background-repeat: no-repeat; /* 不重复背景图像 */
}


/* 手机尺寸 */
@media (max-width: 800px) {
    body {
        /* 设置背景图片 */
        background-image: url('../assets/32.png'); /* 请替换为你的图片URL */
        /* 背景图片覆盖整个元素 */
        background-size: 100% 100%;
        /* 背景图片不会随着页面滚动 */
        background-attachment: fixed;
        /* 背景图片重复方式 */
        background-repeat: no-repeat;
        /* 背景图片位置 */
        background-position: center center;
        /* 添加模糊效果 */
        background-filter: blur(20px);
        /* 背景颜色，用于在图片加载前或模糊效果下提供背景 */
        background-color: #0d0e11e7;
    }
}


@media (max-width: 800px) {
    .index-logo {
        display: block;
        margin: 0 auto;
    }
    .noise-left {
        display: none;
    }
    .switch {
        display: none;
    }

    .a .projectItemRight {
        display: none;

    }

    .a .projectItemRight img {
        display: none;

    }

    .a .projectItemLeft {
        width: 100%;
    }

    .a {

        width: calc(50% - 18px);
  margin: 9px;

    }

    .b {
        height: 110px;
        margin: 8px 15px;
        width: calc(100% - 30px);
    }

    .noise-right {
        width: 100%;
    }


    .description {
        font-size: 4vw;
    }

    .welcome {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    font-size: 10vw;
    }

    .gradientText {
    display: inline; /* 确保span元素在同一行内显示 */
    /* 添加其他必要的样式 */
    }


    .iconContainer {
  
     margin-top: 4vw;

    }
    .projectItem{
    padding: 10px;
    }

    .projectItemLeft p {
        font-size: 13px;
    }

    .projectItemLeft h1 {

        font-size: 18px;
    }

    .projectItem:hover h1 {

        font-size: 20px;

    }

}

.onoffswitch {
    position: relative;
    width: 38px;
    height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 100%;
    border-radius: 50px;
}

.onoffswitch-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%;
    height: 100%;
    margin-left: -100%;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 50%;
    height: 100%;
    padding: 0;
    font-size: 12px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "";
    background-color: rgb(110 110 110 / 50%);
    color: #FFFFFF;
    text-align: left;
}

.onoffswitch-inner:after {
    content: "";
    background-color: #272727;
    color: #FAFAFA;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    height: 70%;
    aspect-ratio: 1/1;
    background: #FFFFFF;
    position: absolute;
    top: 12.5%;
    bottom: 12.5%;
    right: 5px;
    border-radius: 20px;  
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 50%;
}
/*鼠标小黑猫光标*/
button {cursor:url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/work.cur),alias}
p {cursor:url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/texto.cur),auto}
a {cursor:url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/ayuda.cur),auto}
a:active {cursor:url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/work.cur),alias}
body {cursor:url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/normal.cur),auto}

hr.dashed {
    border: none;
    border-top: 1px dashed #ccc;
    margin: 10px 0;
  }

  #clock {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    color: #faf6f6; /* 时钟文字颜色 */
    justify-content: center; /* 水平居中 */
  }
  #lbl {
    font-family: brushscriptmt;
    
    color: #fdf7f7;
    padding: 2px;
    justify-content: center; /* 水平居中 */
    line-height: 1.5;
    height:auto;
    font-size: 13px;


}
#date{
    font-size: 13px;
    justify-content: center; /* 水平居中 */
}
.projectItemRightimg { 
    transition: width 0.4s ease;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    background: rgba(20, 20, 20, 0.396);
    height: 120px; /* 设置一个合适的高度，或者根据需要自动调整 */
    max-width: 99%;
    overflow: hidden; /* 隐藏超出容器的内容 */
  }
  #img-1 {
    max-width: 100%;
    max-height: 100%;
    margin-right: 6px; /* 添加右侧间隔 */
  }
/* 在手机尺寸下显示的按钮样式 */
@media screen and (max-width: 800px) {
    .mobile-nav-button {
      display: block;
      position: fixed;
      top: 10px;
      left: 10px;
      z-index: 199000;
      width: 50px;
      height: 50px;
      background-color: #373a42f9; /* 方块按钮的背景颜色 */
      color: #fff;
      text-align: center;
      line-height: 50px; /* 垂直居中 */
      border-radius: 3px;
      cursor: pointer;
      transition: all 0.3s ease-in-out; /* 过渡效果 */
      
    }
  
    /* 侧边栏的弹出样式 */
    .noise-left {
      display: none;
      position: fixed;
      top: 2;
      width: 50%;
      height: 100%;
      background-color:  #0d0e11ed;  /* 弹出层的背景颜色 */
      z-index: 99900; /* 确保弹出层在按钮下面 */
      transition: left 0.3s ease-in-out;
    }
  /* 侧边栏弹出时按钮的位置 */

    /* 显示侧边栏 */
    .noise-left.show {
      left: 0;
    }
  }
  /* 侧边栏不显示的元素 */
@media screen and (max-width: 800px) {
    .logo {
    display: none;
    }
    .left-des-item {
    display: none;
    }
    .left-tag-item {
        display: none;
    }
  }
  /* 在非手机尺寸下隐藏按钮 */
  @media screen and (min-width: 800px) {
    .mobile-nav-button {
      display: none;
    }
  }
  