@font-face {
  font-family: "iconfont";
  src: url('../font/iconfont.eot');
  /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'),
    /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangdajing:before {
  content: "\e622";
}

.icon-facebook:before {
  content: "\f012a";
}

.icon-gezi2:before {
  content: "\e68e";
}

.icon-laba:before {
  content: "\e608";
}

.icon-wangpanyinle:before {
  content: "\e65e";
}

.icon-jiantou:before {
  content: "\e62c";
}

.icon-jiantou1:before {
  content: "\e662";
}