* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

div.nav {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #222222;
}

div.nav img.logo-sm {
    height: 25px;
    margin-left: 10%;
}

div.nav .right {
    margin-left: auto;
    margin-right: 10%;
}

div.nav .right a {
    color: rgba(140, 140, 140);
    text-decoration: none;
}

div.nav .right a:first-child {
    margin-right: 10px;
}

div.nav .right a:hover {
    color: white;
}




div.menu {
    text-align: center;
    padding: 20px 10px 0;
    border-bottom: 1px solid rgba(140, 140, 140);
}

div.menu .icon {
    display: inline-block;
    margin-bottom: 20px;
}

div.menu a:not(:last-child) {
    margin-right: 3%;
}

div.menu .icon {
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: rgba(140, 140, 140, 0.8);
    border-radius: 50%;
}

div.menu .icon:hover {
    color: black;
    background-color: white;
}


.text-center {
    text-align: center;
}

.main-box .icon-title {
    width: 200px;
    margin-top: 5%;
}

.title-sm {
    color: rgba(140, 140, 140);
    padding: 30px;
}

.btns {
    white-space: nowrap;
}

.btns .card {
    padding: 20px 10px;
    border: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    border-radius: 40px;
    width: 200px;
    text-align: left;
}

.btns .card * {
    text-decoration: none;
    color: black;
}


.btns .card .icon {
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline;
    margin-right: 10px;
}

.btns .card:hover .icon {
    background-color: black;
    color: white;
}


@keyframes myfirst {
    from {
        margin-right: 60%;
    }

    to {
        margin-right: 25px;
    }
}

.btns .left {
    margin-right: 25px;
    animation: myfirst 1.5s;
}

.main-box .msg {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

.main-box .msg-box {
    padding: 20px;
    margin-top: 20px;
    cursor: pointer;
}


div.main-box {
    margin-bottom: 100px;
}