/* noise主页rss-CSS样式 */
.rss-container {
  display: none;
}

@media only screen and (min-width: 600px) {
  .rss-container {
    position: fixed;
    top: 70%;
    right: -500px;
    transform: translateY(-50%);
    width: 180px;
    box-shadow: 0 2px 2px 0 rgba(36, 35, 35, 0.911), 0 1px 5px 0 rgb(32, 32, 32);
    background-color: #1a1919e9;
    border: 2px solid #34343712;
    border-radius: 8px;
    padding: 13px;
    border-radius: 10px 0 0 10px;
    transition: right 0.3s ease-in-out;
    z-index: 300;
    color: white;
    text-align: center;
    display: block;
    overflow: hidden; /* 防止内容溢出 */
  }

  .rss-container.open {
    right: 0;
  }

  .rss-title {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .rss-item {
    margin-bottom: 10px;
  }

  /* 设置链接容器样式 */
  .rss-link {
    display: flex;
    flex-direction: column; /* 垂直排列图片和文字 */
    align-items: center;
    margin-bottom: 5px;
    overflow: hidden; /* 防止内容溢出 */
  }

  /* 修改选择器为 .rss-link a */
  .rss-link a {
    font-size: 13px;
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    margin-top: 5px; /* 确保文字与图片分开 */
    text-align: center;
    word-break: break-all; /* 防止长单词溢出 */
    white-space: normal; /* 允许文本换行 */
  }

  /* 图片样式 */
  .rss-link img {
    width: 100%; /* 图片宽度自适应容器 */
    height: auto; /* 高度按比例自适应 */
    border-radius: 5px; /* 可选：给图片添加圆角 */
  }

  /* 添加关闭按钮样式 */
  .close-button {
    position: absolute;
    top: 5px;
    right: 2px;
    cursor: pointer;
    color: white;
    font-size: 12px;
  }
}
