
a{
	text-decoration: none;
}
html,
body {
	background: black;
	position: relative;
	width: 100%;
	
}

.centerBox {
	
	
	color: white;
}



.btn-p a:hover{
	color: #FFFFFF;
	background: -webkit-linear-gradient(left, #bf4edb, #e26218);
    background: -o-linear-gradient(left, #19c3ff, #0093ff);
    background: -moz-linear-gradient(left, #19c3ff, #0093ff);
    background: linear-gradient(left, #19c3ff, #0093ff);
}

