.popup {
  position: fixed;
  top: -100px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.555);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: top 0.5s ease-in-out;
  z-index: 200; /* 显示图层 */
}

.popup p {
  margin: 0;
}