@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

:root {
    --color-background: #e1e1e1;
    --color-background-key: #eee;
    --color-text-key: #000;
    --color-text-small: #555;
    --border-key: 1px solid #999;
    --box-shadow-key: 1px 1px 3px rgba(0, 0, 0, 0.1);
    --color-background-tooltip: #fff;
    --color-footer-link: #e74c3c;
}

* {
    box-sizing: border-box;
}

html.dark {
    --color-background: #141414;
    --color-background-key: #141414;
    --color-text-key: #fff;
    --color-text-small: #c1c1c1;
    --border-key: 1px solid #ababab;
    --box-shadow-key: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --color-background-tooltip: #232323;
    --color-footer-link: #f1e7a7;
}

body {


    justify-content: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: var(--color-background);
    transition: all 0.5s ease;
   
  
   
    
    color: var(--color-text-small);
   
}






/* Dark Mode Switch */
/* The switch - the box around the slider */
.switch {
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;

    position: absolute;
    top: 20px;
    right: 20px;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}


/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    transition: 0.4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    top: 50%;
    left: var(--slider-offset, 0.3em);
    transform: translateY(-50%);
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #303136;
}

input:checked + .slider:before {
    left: calc(
        100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em))
    );
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

/* Footer */
.footer {
    position: absolute;
    top: 90%;
    text-align: center;
    font-size: 0.9rem;
    padding-top: 1rem;
    margin-bottom: -3rem;
    color: var(--color-text-small);
    transition: all 0.5s ease;
}

.footer a,
.footer a:active,
.footer a:visited {
    color: var(--color-footer-link);
    transition: all 0.5s ease;
}
@import (css) url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Serif+SC&display=swap');
body{font-family:'Noto Serif SC',serif, sans-serif}
p{font-size:18px;font-weight:200}
h3.DiscussionListItem-title{font-weight:500;font-size:1.125rem;line-height:1.4}
b,strong{font-weight:600}
.Hero h2{font-size:175%}
.item-markAllAsRead{display:none !important;} /*去掉首页全部阅读那个✔*/

.Hero-close{display:none !important;} /*去掉刚进站时关闭页头的✘*/

/*鼠标小黑猫光标*/
button {cursor:url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/work.cur),alias}
p {cursor:url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/texto.cur),auto}
a {cursor:url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/ayuda.cur),auto}
a:active {cursor:url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/work.cur),alias}
body {cursor:url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/normal.cur),auto}

/*置顶公告*/
.IndexPage-toolbar::after {content: "Efficiency~";padding: 3px 5px 3px 5px;background-color: @hero-bg;color: @link-color;border-radius: 5px;text-align: center;font-size: 16px;display: block;margin: 5px 0;white-space: pre-wrap;}

/*让文章阅读数对齐*/
@media (min-width: 768px){.IndexPage li.item-discussion-views {margin-right: -70px;width: 55px;}}

/*搜索结果关键字高亮*/
.DiscussionListItem-main mark {background: #ffff80 !important;}

/*定义滚动条高宽、颜色、圆角比*/
::-webkit-scrollbar {width:8px;height:8px}
::-webkit-scrollbar-track {border-radius:5px;}
::-webkit-scrollbar-thumb {background:#009ac1;border-radius:5px;}