* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 添加这一行以确保元素的宽度和高度包括边框和填充 */
}

h1 {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 20px;
}

.display-container {
    display: flex;
    justify-content: center;
}

.display {
    background-color: #333;
    color: #fff;
    width: 80%;
    overflow-y: auto;
    padding: 10px;
    line-height: 1.5;
    text-align: left;
    margin: 0 auto 10px auto;
    font-size: 16px;
}

.query-class {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    margin: 0 auto 10px auto;
    font-size: 16px;
}

/* Input tag of upload image */
#upload-image {
    display: none;
}

button {
    cursor: pointer;
}

#display ol {
    margin-left: 21px;
}

#display ul {
    margin-left: 21px;
}

pre code .hljs {
    border-radius: 21px;
}

/* 媒体查询 */
@media only screen and (max-width: 600px) {
    .display {
        width: 90%; /* 小屏幕下显示框宽度调整为90% */
    }

    .query-class {
        width: 90%; /* 小屏幕下查询框宽度调整为90% */
    }
}
