@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

:root {
    --color-background: #272727;
    --color-background-key: #eee;
    --color-text-key: #f7f0f0;
    --color-text-small: #faf2f2;
    --border-key: 1px solid #999;
    --box-shadow-key: 1px 1px 3px rgba(0, 0, 0, 0.1);
    --color-background-tooltip: #fff;
    --color-footer-link: #e74c3c;
}

html.dark {
    --color-background: #141414;
    --color-background-key: #141414;
    --color-text-key: #1f1d1d;
    --color-text-small: #e45023;
    --border-key: 1px solid #0f0f0f;
    --box-shadow-key: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --color-background-tooltip: #232323;
    --color-footer-link: #f1e7a7;
}
body {
    
    align-items: center;
    justify-content: center;
   
    
    overflow: hidden;
    background-color: var(--color-background);
    transition: all 0.5s ease;
    color: var(--color-text-small);
   
}

/* Dark Mode Switch */
/* The switch - the box around the slider */
.switch {
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;

    position: absolute;
    top: 8px;
    right: 20px;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}


/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    transition: 0.4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    top: 50%;
    left: var(--slider-offset, 0.3em);
    transform: translateY(-50%);
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #303136;
}

input:checked + .slider:before {
    left: calc(
        100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em))
    );
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

/* Footer */
.footer {
    position: absolute;
    top: 96%;
    text-align: center;
    font-size: 0.9rem;
    padding-top: 1rem;
    margin-bottom: -3rem;
    color: var(--color-text-small);
    transition: all 0.5s ease;
}

.footer a,
.footer a:active,
.footer a:visited {
    color: var(--color-footer-link);
    transition: all 0.5s ease;
}