
html, body {
	margin: 10;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: black;
	background: linear-gradient(to bottom, #000000 0%, #000000 100%);
	font-family:'Questrial','Noto Serif SC' ;
}



@keyframes colorChange {
	0%, 100% {
		opacity: 0;
	}
	50% {
		opacity: .9;
	}
}

.landscape {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	height: 50%;	
	background-image: url('');
	background-size: 720px 640px;
	background-repeat: repeat-x;
	background-position: center bottom;
}
.content{
	-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
-khtml-user-select: none;
user-select: none;
	text-align: center;
	color: rgb(104, 166, 248);
    position: absolute;
    left: 50%;
    top: 50%;
	transform: translate(-50%,-50%);
	z-index:1000
}
.content .title{
	margin: 1px 0px;
    font-size: 1.3em;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}


.cover-navigation {
	margin: 0px;
}

nav {
    
    position: relative;
}

.navigation__item {
    display: inline-block;
    line-height: 1em;
    padding: 1em 0;
}
.navigation__item a {
    position: relative;
    color: #FFF;
    opacity: 10;
	transition: all .5s;
	padding: 10px 10px;
    border: 1px solid rgb(65, 62, 62);
    border-radius: 15px;
    font-size: 0.8em;
    
    letter-spacing: 0.8px;
 
	text-decoration: none;
}
.navigation__item a:hover {
    color: rgb(255, 255, 255);
    background: #455eaf;
    border-color: #00c3ff;
    opacity: 1;
    transition: all 1s;
}
ol, ul {
	list-style: none;
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 50%;
    font: inherit;
    vertical-align: baseline;
}
.icp{
	margin: 10px;
}
.icpnum{
	color: #fff;
	text-decoration: none;
}