body {
   padding-top: 50px;
  font-family: STXihei,Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.aplayer-wrap {
width: 600px;
max-width: 100%;
margin: 0 auto;
}

.landing-buttons {
	text-align: center; 
}

.landing-button {
    border: 1px solid #ccc;
    border-radius: 33px;
    padding: 10px 30px;
    background-color: white;
    display: inline-block;
    margin-top: 20px;
    color: rgb(51, 51, 51);
}

.landing-button:hover {
    border-color: #42b983;
    color: #42b983;
    text-decoration: none;
}

.swiper-button-prev::after {
	color: #e9e9e9;
}

.swiper-button-next::after {
	color: #e9e9e9;
}

.footer {
text-align: center;
font-size: 12px
}